.contenedor-frase{
    position: relative;
    display: inline-block;
}

.contenedor-frase img{
    width: 100%;
    height: auto;
    object-fit: cover;
    filter: brightness(70%);  /* Aplica un filtro de oscuridad a la imagen */
}

.text-overlay {
    position: absolute;
    bottom: 0;  /* Coloca el texto en la parte inferior */
    left: 0;
    width: 100%;  /* Hace que el texto ocupe todo el ancho de la imagen */
    color: white;  /* Color del texto */
    font-size: 20px;  /* Tamaño del texto */
    font-weight: bold;  /* Opcional: negrita */
    text-align: center;  /* Centra el texto horizontalmente */
    padding: 10px;  /* Espaciado alrededor del texto */
    font-family: var(--tipografiaDancing-Script);
}

/* --------- SECCION DE DONDE Y CUANDO --------- */

.contenedor_dondeycuando{
    background-color: var(--colorRosa);
}
.contenedor_card img{
    width: 100%;
}

.text_titulo{
    color: var(--colorRosaBlanco);
    font-family: var(--tipografiaMerriweather-Sans);

}
.contenedor_img{
    width: 100%;
    height: 250px;
    object-fit: cover;
    border-radius: 10px;
}
.boton-mapa{
    background-color: var(--colorRosaBlanco);
    color: var(--colorRosa);
    font-family: var(--tipografiaMerriweather-Sans);
}
.boton-mapa:hover{
    background-color: var(--colorGris);
    color: aliceblue;
}

.contenedor-info p{
    color: rgb(71, 66, 66);
}
/* ---------------------------------------------------- */



/* MEDIAS QUERIES */
/* Estilos para tablet */
@media (min-width: 768px) {
    .text-overlay {
        font-size: 35px;  /* Tamaño del texto */
    }
}
/* Estilos para laptop */
@media (min-width: 1280px) {
    .text-overlay {
        font-size: 40px;  /* Tamaño del texto */
    }

    .contenedor-frase img{
        width: 80%;
    }
}

